<div class="container">
  <h1 class="mt-3 mb-3">ALL RESTAURANTS</h1>

  <% @restaurants.each do |restaurant| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><strong><%= restaurant.name %></strong></h5>
        <h6 class="card-title"><%= restaurant.category %></h6>
        <p class="card-text mb-0"><strong>Phone-number:</strong> <%= restaurant.phone_number %></p>
        <p class="card-text mt-0"><strong>Address:</strong> <%= restaurant.address %></p>
      </div>
    </div>
  <% end %>

  <a class="btn btn-primary mb-3" href= restaurants/new role="button">New Restaurant</a>

</div>
